<%- include("../partials/head.ejs") %>

<h1><%= soda.name %></h1>
<h3><%= soda.color %></h3>
<h3><%= soda.readyToSell ? "Ready to Sell" : "Not Ready to Sell" %></h3>

<a href="/soda">Back To List of Sodas</a>